<div class="card border-dark mb-3 mx-auto text-right" style="width: 35rem;" >
<div class="card-body">
  <h5 class="card-title text-center"> تعديل البيانات  </h5>
<h4>Edit <%= resource_name.to_s.humanize %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
<label for="first_name">الاسم الأول </label><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
  </div>

  <div class="field">
  <label for="last_name"> الأسم الأخير </label><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "first name" %>
  </div>
  <div class="field">
  <label for="phone_number"> رقم الهاتف </label><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>
  
  <div class="field">
  <label for="email"> البريد الإلكتروني  </label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
  <i>(اتركه فارغ في حال عدم الرغبة بالتغيير)</i>
  <label for="password"> كلمة المرور </label> <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
  <label for="password_confirmation"> تأكيد كلمة المرور  </label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
  <i>(نحتاج كلمة المرور الحاليه لإجراء التغييرات )</i>
  <label for="password_confirmation">  كلمة المرور الحاليه</label> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "تحديث" %>

  </div>

<% end %>
<%= link_to 'رجوع', profile_path %> &nbsp;
<%= link_to 'حذف حسابي', registration_path(resource_name), data: { confirm: "هل آنت متأكد أنك تريد حذف حسابك ؟" }, method: :delete %> 
</div>
</div>