<div class="card border-dark mb-3 mx-auto text-right" style="width: 35rem;" >
<div class="card-body">
  <h5 class="card-title text-center"> مستخدم جديد</h5>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%# add frist name, last name and phone number %>
  <div class="field">
  <label for="first_name">الاسم الأول </label><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
  </div>

  <div class="field">
  <label for="last_name"> الأسم الأخير </label><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "first name" %>
  </div>
  <div class="field">
  <label for="phone_number"> رقم الهاتف </label><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>

  <div class="field">
  <label for="email"> البريد الإلكتروني  </label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">

    <% if @minimum_password_length %>
    <em>(  <%= @minimum_password_length %> ارقام على الأقل)</em>
    <% end %>
    <label for="password"> كلمة المرور </label><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
  <label for="password_confirmation"> تأكيد كلمة المرور  </label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "تسجيل" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>