<section class="service-sec mt-5">
<div class="text-center mx-auto mt-5">
<div class="card border-light mb-3 mx-auto text-right" style="width: 35rem; height:25rem;" >
<div class="card-body">
<h2 >نسيت كلمة المرور ؟</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-3">
  <label for="Email"> البريد الالكتروني</label> <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"mb-2"%>
  </div>

  <div class="actions mb-2">
    <%= f.submit "إرسل لي تعليمات إعادة تعيين  كلمة المرور",class:"btn btn-light" %><br><br>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</section>