
<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>

    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("image3.jpeg", class:" d-block img-d", alt:"First slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>الرعاية في بيئة من التميز</h5>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("image1.jpeg",  class:"d-block img-d", alt:"Second slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>نخلق ابتسامة صحية تريدها بلمسة لطيفة</h5>
    
            </div>
        </div>
         <div class="carousel-item">
          <%= image_tag("image4.jpeg", class:"d-block img-d", alt:"Third slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>نلبي جميع احتياجات ورغبات الأسنان الخاصة بك </h5>
            </div>
        </div>
         <div class="carousel-item">
          <%= image_tag("image5.jpeg", class:"d-block img-d", alt:"Third slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>خدمة استثنائية ولطيفه بشكل ملحوظ</h5>
            </div>
        </div>
         <div class="carousel-item">
          <%= image_tag("image6.jpeg", class:"d-block img-d", alt:"Third slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>للحصول على ابتسامة جميلة وصحية</h5>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("image7.jpeg", class:"d-block img-d", alt:"Third slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>نقدم أعلى جودة للأسنان بأسعار معقولة</h5>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("image8.jpeg", class:"d-block img-d", alt:"Third slide") %>
            <div class="carousel-caption d-content d-md-block">
              <h5>طريقك إلى ابتسامة جديدة مشرقة</h5>
            </div>
        </div>
    </div>
  
    <a class="swiper-button-prev" href="#carouselExampleIndicators"  data-slide="prev"> <img src="left-arrow.svg"/> </a>
    <a class="swiper-button-next" href="#carouselExampleIndicators" data-slide="next"> <img src="right-arrow.svg"/> </a>
</div>

<%# <section class="service-sec mt-5" id="benefits">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="heading mb-0">
                <h2><small>عائلة آراك </small>نمنحك سببًا للاحتفاظ بالابتسامه والشعور بالثقة حيال ذلك </h2>
              </div>
          </div>
          <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 text-sm-center service-block"> <img  class="fa" src="teeth.svg"/><br/>
                <h3>تقويم الأسنان </h3>
                <p>  نمو الأسنان بطريقة غير متوازية أو إصابتها. كل هذه الأمور تؤدي إلى وضع غير صحيح في إغلاق الفكين وحدوث عيوب في أحدها أو كليهما
                يقوم جسر الأسنان بخلق تماثل بين الأسنان، من أجل ضمان إغلاق جيد للفكين
                </p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <img  class="fa" src="broken-tooth.svg"/> <br/>
              <h3>تسوس الأسنان </h3>
              <p> عبارة عن أجزاء من اسنان مصابة بالتعفن الذي قد يتطور إلى ثقوب صغيرة أو كبيرة بشكل تدريجي. وفي حال عدم معالجة تسوس الاسنان، فإن الثقوب قد تكبر وتتسع مما يسبب آلاما شديدة، التهابات، وحتى فقدان أسنان ومضاعفات أخرى</p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <img  class="fa" src="yellowtooth.svg"/><br/>
                <h3> نصيحة طبية</h3>
                <p>هل تعلم أن المسبب الطبيعي الاكثر شيوعا لاصفرار الاسنان هو تاكل الطبقة الخارجية من السن - المينا؟ وللحفاظ على المينا عليك استخدام غسول الفم كل مرة تقوم بتنظيف اسنانك فيها</p>
            </div>
             <div class="col-md-6 text-sm-center service-block"> <img  class="fa" src="extraction.svg"/> <br/>
               <h3> خلع الأسنان </h3>
                <p>يتم الحاجة لخلع السن أو الضرس العقل البارز أو المخفي أحيانا في أمراض اللثة الشديدة الي تؤثر سلباً على الأنسجة الداعمة للسن ومحيطه عقب الضغط الموضعي الذي يحدثه الاحتكاك </p>
            </div>
          </div>
        </div> 
      </div>
    </div>
</section> %>


<!-- About 
    ================================================== -->
<section class="about-sec parallax-section mb-5 text-right" id="about">
  <div class="container">
    <div class="row">
     <div class="col-md-4 order-3 mt-5">
        <p>  ممارستنا متمحورة حولك وكل جانب من جوانب صحة فمك من اللحظة التي تدخل فيها إلى منشأتنا ، نريدك أن تشعر أنك في بيتك ، وأن تكون آمنًا بين يدي طاقم مؤهل </p>
        <p>نعتقد أن المرضى يستحقون أعلى مستوى من العناية بالأسنان</p>
       
        <%= link_to "المزيد", aboutus_path, class: "profile-edit-btn links"%> 
      </div>
      <div class="col-md-4 order-2  mt-5">
        <p>احدث مجمع طبي متخصص بطب الاسنان و مجهز بأحدث التقنيات الطبية الالمانية باشراف نخبة من اطباء واستشاريين سعوديين</p>
        <p> نتميز بأحدث الأنظمة والتقنيات الطبية التشخيصية والعلاجية ويفخر المجمع بانضمام نخبة من الاستشاريين  رواد طب الأسنان في جميع التخصصات في مكان واحد  </p>
       
      </div>
       <div class="col-md-3 order-1  mt-0">
        <h2><small>من نحن؟</small>مجمع<br/>
         آراك الرقمي</h2>
      </div>
    </div>
  </div>
</section>