<div class="text-right">
<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 
  <%= form.text_field :name %>
        <label for="doctor_name">  :  الدكتور  </label><br>
          
     
        
        <%= form.text_field :img %>
          <label for="image">  :  الصوره  </label><br>
     
       

         <%= form.text_field :speciality %>
         <label for="speciality">  :  التخصص  </label><br>
         
      
        
          <%= form.text_field :description %>
          <label for="description">  :  التعريف  </label><br>
          
      
          <%= form.submit " إضافه ", class:"btn btn-outline-secondary my-2"%><br>
  </div>

<% end %>
</div>