<%#create doctor form image as url, doctor name, doctor speciality, and doctor description%>

<div class="text-right">
  <%= form_with(model: doctor, local: true) do |form| %>
    <% if doctor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>
        <ul>
        <% doctor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

          <label for="image">  : أضف صورة  </label><br>
          <%= form.text_field :img %> <br><br>

          <label for="doctor_name">  : الدكتور </label><br>
          <%= form.text_field :name %> <br><br>

          <label for="speciality">  : التخصص </label><br>
          <%= form.text_field :speciality %><br><br>
          
          <label for="description">: الوصف </label><br>
            <%= form.text_field :description %><br>
            <%= form.submit "إضافة ", class:"btn btn-light mt-4 mb-2"%>
    <% end %>
</div>
