<section class="service-sec mt-5">
    <div class="mt-5 text-center ">
      <p>مجمع آراك الرقمي لطب الأسنان </p>
        <div class="card border-light mb-4">
            <div class="card-body">
                <h5 class="card-title text-center text"> فريق آراك </h5>      
                
                <div class="container">
                        <div class="text-right">
                            <% if current_user.try(:admin?)%>
                            <%= link_to "إضافة دكتور", new_doctor_path , class:"profile-edit-btn"%> 
                            <%end%>
                        </div>
                        <%= form_tag doctors_path, :method =>'get' do%>
                        <%= submit_tag 'بحث',class:"btn btn-light"%>
                  <%= text_field_tag :search,params[:search],class:"active-blue-4 active-blue-3 ",placeholder: 'اسم الدكتور'%>
                  <% end%>
                  <div class="row">
                  <% @doctors.each do |doctor| %>
                  <div class="m-auto">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center mt-1">
                                          <p><%= image_tag(doctor.img, size: "150x150", alt: "Doctor Image", class:" img-fluid") %>
                                          <h4 class="card-title">د. 
                                          <%= doctor.name %></h4>
                                          <p class="card-text"><%= doctor.speciality %></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                  <% if user_signed_in?%>
                                  <% if current_user.admin == true %>
                                  <div class="mt-2">
                                    <%= link_to 'إظهار', doctor_path(doctor),class:'profile-edit-btn' %> |
                                    <%= link_to "تعديل", edit_doctor_path(doctor),class:'profile-edit-btn'%> |
                                    <%= link_to "حذف", doctor_path(doctor), class:'profile-edit-btn',method: :delete, data: {confirm:"هل أنت متأكد من الحذف ؟"}%>
                                    </div>
                                      <%end%>
                                      <%end%>
                                      <div class="card-body text-center mt-3">
                                          <h4 class="card-title"><%= doctor.name %></h4>
                                          <p class="card-text"><%= doctor.description %></p>
                                  <div class="card-bottom  mt-3" >
                                      <%= link_to "موعد جديد ", new_appointment_path, class:" profile-edit-btn" %> <br>    
                                  </div> 
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                    <%end%>
              </div>
          </div>      
    </div>
</section>                         
​