<section class="service-sec mt-5">
  <div class="text-center mx-auto">
  <p>مجمع آراك الرقمي الطبي المتخصص في طب الأسنان </p>  
        <div class="card bborder-light mb-3 mx-auto text-right" style="width: 50rem;" >
        <div class="card-body">
          <h5 class="card-title text-center"> دكتور جديد    </h5>
        <p id="notice"><%= notice %></p>

        <p>
        <strong> الاسم : </strong>
        <%= @doctor.name %>
        
        
        </p>

        <p>
          <strong>التخصص : </strong>
          <%= @doctor.speciality %>
        </p>
        <p>
          <strong>الوصف : </strong>
          <%= @doctor.description %>
        </p>
        <p>
        <%= image_tag(@doctor.img, size: "150x150", alt: "Doctor Image") %>
        <strong>:  الصوره </strong>
        </p>
        <br>
        <%= link_to 'تعديل', edit_doctor_path(@doctor) %> |
        <%= link_to 'رجوع', doctors_path %>
        </div>
        </div>
    </div>
</section>