<%# Form for appointment it contains List of Doctors, User First and Last name,
Date and Time of the appointment %>


<div class="text-right">
  <%= form_with(model: appointment, local: true) do |form| %>
      <% if appointment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
            <ul>
            <% appointment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>


<%# this is a doctor slect form it gets all doctors name by the id %>

     <label for="doctor_name">  :الدكتور </label><br>
     <%= form.select :doctor_id, Doctor.all.collect { |p| [ p.name, p.id ] } %> <br><br>

<%# condition to check if user is signed in, if user signed in write their name and last name 
also it will hide the user Id %>
      <% if user_signed_in?%>
          <label for="Patient">  :المراجع </label><br>
          <%= current_user.first_name + " " + current_user.last_name%><br><br>
          <%= form.hidden_field :user_id , :value => current_user.id%>
      <%end%>

<%# the user can select the date and time. The year will start 2019, the minute it will be only every 30m. 
start hour is at 9:00am and the end hour is at 22:00 pm depends on clinc opening and closing time %>

          <label for="user_id">  :تاريخ الموعد </label><br>
          <%= form.date_field :appointment_on, placeholder: 'اختر التاريخ والوقت', class:"text-right"  %>
        <br>

       <%= form.submit "إنشاء موعد ", class:"btn btn-light mt-4 mb-2"%>
   
  <% end %>  
</div>