<%# this page will shows doctors with the same id %>

<section class="service-sec mt-5">
  <div class="mt-5 text-center">
      <p>مجمع آراك الرقمي لطب الأسنان</p>
    <div class="card border-light mb-3" >
      
        <h5 class="text-center text-color"> مواعيد دكتور مخصص </h5>
          
        <div class="row mb-5">
          <div class="col ml-3 text-left">
            <%= link_to 'موعد جديد', new_appointment_path,  class:"profile-edit-btn" %> |
            <%= link_to 'رجوع', appointments_path, class:"profile-edit-btn"  %>
          </div>
        </div>
<%# appointment table, if uer sign it will show the appointment they made.
if you are admin it will show the user name %>

        <table class="container text-center mb-5 table-bordered table-hover">
          <thead>
            <tr scope="col">
              <th  class="text-color ">اعدادات</th>
              <th  class="text-color ">التاريخ</th>
              <th class="text-color ">التخصص</th>
              <th class="text-color ">الدكتور</th>
              <%if user_signed_in?%> 
                <%if current_user.try(:admin?)%>
                  <th class="text-color ">المراجع</th>
                <%end%>
            </tr>
          </thead>

          <tbody>
                <% @appointments.each do |appointment| %>
                  <tr>
                  <td><%= link_to 'إظهار', appointment ,class:" profile-edit-btn"%> | 
                    <%= link_to 'تعديل', edit_appointment_path(appointment),class:" profile-edit-btn" %> | 
                    <%= link_to 'حذف', appointment, class:" profile-edit-btn",method: :delete, data: { confirm: 'هل أنت متأكد من حذف الموعد ؟' } %></td>
                  <td><%= appointment.appointment_on.strftime("%B %e, %Y at %I:%M %p") %></td>
                  <td><%= appointment.doctor.speciality %></td>
                  <td><%= appointment.doctor.name%></td>
                  <% if current_user.try(:admin?)%>
                    <td><%= appointment.user.first_name%></td>
                  <%end%>
                <%end%>
                  </tr>
              <% end %>
          </tbody>
        </table>
    </div>
  </div>
</section>

