



        <%= link_to 'Show', @appointment %> |
        <%= link_to 'Back', appointments_path %>
     <p class="d-flex justify-content-end">
            <%if user_signed_in?%>
            Welcome <%= current_user.email%>
            <%end%>
      </p>
      
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h1 class="display-5">Edit Appointment</h1>
            <p><%= render 'form', appointment: @appointment %></p>
         </div>
         <div class="col-lg-7">
            <h1 class=" display-3"> Make Appointment</h1>
            <%=image_tag("",class:"img-fluid rounded" )%>
         </div>
      </div>
   </div>
</div>



