<div class="card border-dark mb-3 mx-auto" style="width: 65rem;" >
<div class="card-body">
  <h5 class="card-title text-center">مواعيدي</h5> 
<p id="notice"><%= notice %></p>

<div class="container">  

    <p class="d-flex justify-content-between">
    <%= link_to 'موعد جديد', new_appointment_path,  class:"btn btn-light" %>

    
    <%if user_signed_in?%>
 ! مرحباً  <%= current_user.first_name%> 
    <%end%>

    </p>  
  
     
         
<table class="table  text-center" style="width: 60rem;">
<thead>
  <tr>
  <th colspan="3"></th>
    <th scope="col">التاريخ</th>
    <th scope="col">التخصص</th>
    <th scope="col">الدكتور</th>
  </tr>
</thead
<tbody>
  <% @appointments.each do |appointment| %>
    <tr scope="row" >
      <td><%= appointment.doctor.name%></td>
      <td><%= appointment.doctor.speciality %></td>
       <td><%= appointment.appointment_on %></td>
      <td><%= link_to 'Show', appointment %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
    </div>
  
</div>

</div>


   
 
 
<br>

