<div class="card border-dark mb-3 mx-auto text-right" style="width: 40rem;" >
<div class="card-body">
  <h5 class="card-title text-center"> </h5> 

<p id="notice"><%= notice %></p>

<p>
<%= @appointment.appointment_on %>
  <strong>  : التاريخ </strong>

</p>



<p>
  
  <%= @appointment.doctor.name%>
  <strong>  : الدكتور  </strong>
</p>

<p>
  <strong> المريض: </strong>
  <%= current_user.first_name %>
</p>

<%= link_to 'تعديل', edit_appointment_path(@appointment) %> |
<%= link_to 'رجوع', appointments_path %>
</div>
</div>