<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.appointment_on %>
</p>



<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name%>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.user.first_name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
