<header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand " href="index.html">Arak</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
               <%=link_to "Home", home_path, class:"nav-link active"%>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <%=link_to "New Appointment", new_appointment_path, class:"nav-link"%> 
              </li>
             
              <li class="nav-item">
            <%=link_to "Doctor", doctors_path, class:"nav-link"%> 
              </li>
           
          <%if user_signed_in? %>
           <li class="nav-item dropdown">
             
                <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My profile</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="">My Information</a>
                   <%=link_to "My Appointments", appointments_path, class:"dropdown-item"%>
                  <%=link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                </div>
              </li>
            <%else%>
          <li class="nav-item">
            <%=link_to "Sign In ", new_user_session_path, class:"nav-link"%>  
          </li>
          <li class="nav-item">
            <%=link_to "Sign Up", new_user_registration_path, class:"nav-link"%>  
          </li>
          <%end%>
            </ul>
          </div>
        </div>
      </nav>
</header>