<!DOCTYPE html>
<html>
  <head>
    <title>AracApp</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <link rel="icon" href="https://png.pngtree.com/svg/20160108/dentist_1285662.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <%= render 'layouts/nav' %> 
      <%= yield %> 
      <hr/>
      <footer class="site-footer">
            <div class="container text-right">
              <div class="row">
                    <div class="col-md-2">
                      <h5>ساعات العمل</h5>
                      <ul class="list-unstyled">
                        <li>من السبت حتى الخميس </li>
                        <li>من الساعة التاسعة صباحاً</li>
                        <li>حتى الساعة العاشرة مساءً</li>
                      </ul>
                    </div>
                    <div class="col-md-3 mb-5">
                      <h5>للحجز والمواعيد</h5>
                      <ul class="list-unstyled">
                        <li>هاتف: ٠١٢٥٤٣٩٩٩٩</li>
                        <li>جوال: ٠٥٥٦٦٥٢٣٤٩</li>
                      </ul>
                    </div>
                  <div class="col-md-5 mb-0">
                    <h5>موقع العيادة</h5>
                    <ul class="list-unstyled">
                      <li> مكة المكرمة – العوالي - شارع إبراهيم الجفالي -  بجوار بن داوود  </li>
                    </ul>
                    <div class="mt-2">
                      <a href="https://www.instagram.com/arakclinics/" class="p-2" target="_blank"><span class="fa fa-instagram"></span></a>
                      <a href="https://twitter.com/arakclinics" class="p-2" target="_blank"><span class="fa fa-twitter"></span></a>
                      <a href="#" class="p-2"><span class="fa fa-snapchat" target="_blank"></span></a>
                      <a href="#" class="p-2"><span class="fa fa-whatsapp" target="_blank"></span></a>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-12 text-md-center text-left">
                  <p>
                    Copyright &copy; 2019 All rights
                  </p>
                </div>
              </div>
            </div>
      </footer>
  </body> 
</html>
