<!DOCTYPE html>
<html>
  <head>
    <title>AracApp</title>
    <link rel="icon" href="https://png.pngtree.com/svg/20160108/dentist_1285662.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav'%>
  <%= yield %>

  <footer class="py-2 bg-light">
  <div class="container">
    <p class="m-0 text-center text-dark">Copyright &copy;  2019</p>
  </div>
</footer>
  </body>
</html>
